.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.author-details {
    display: flex;
    align-items: center;
    justify-content: center;
}
.author-details-name {
    margin-left: 1em;
    font-size: 14px;
    font-weight: bolder;
    color: gold;
}
.author-details-date {
    margin-left: 1em;
    font-size: 12px;
    color: red;
}
.post-details-cont {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    background: #fff;
    padding: 2em 0;
}
.post-details {
    padding: 2em;
}
.posts-wrapper {
    background: #c1c1c1;
    /* padding: 2em; */
    min-height: 90vh;
}
.avatar {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
.comment-cont {
    display: flex;
    margin: 1em;
    justify-content: space-between;
    align-items: flex-start;
}
.comment-cont img {
    margin-right: 0.7em;
}
.comment-cont-body {
    border: 1px solid #c1c1c1;
    text-align: left;
    width: 90%;
    padding: 0.6em 1em;
}
.comment-cont-body span {
    font-size: 14px;
    color: red;
    margin-left: 2em;
    opacity: 0.6;
}
.comment-cont-body p {
    font-size: 14px;
    font-weight: bolder;
}
.comment-body-wrapper {
    font-size: 12px;
}
.post-details-footer {
    text-align: left;
}
.post-details-footer h3 {
    text-align: left;
    margin-left: 1em;
}
.post-details-footer form {
    display: flex;
    margin: 2.5em 1em;
    justify-content: space-between;
    align-items: flex-start;
}
.post-details-footer form textarea {
    width: 90%;
    padding: 1em;
}

.post-details-footer form img {
    /* margin-top: 10px; */
    width: 30px;
    height: 30px;
    margin-right: 0.7em;
}
.post-details-body {
    text-align: center;
    margin: 2em 0;
}
.loginPrompt {
    padding: 4em;
    /* bottom: 3em;
  left: 18em; */
}

.loginPrompt > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPrompt > div > div {
    width: 400px;
    /* border: 1px solid black; */
    padding: 4em;
    background: #fff;
    text-align: center;
}
.loginPrompt > div > div a {
    display: block;
}
.comment-button {
    /* margin-top: 1em; */
    margin-left: 1em;
    background: #000;
    padding: 1.8em 1em;
    color: #fff;
    border: 0;
    outline: 0;
}

.post--body {
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-align: left;
}
.post--body img {
    max-width: 100%;
}
.btn-group {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    .post-details-cont {
        width: 100%;
    }
    .comment-button {
        margin-top: 1em;
        margin-left: 1em;
        padding: 0.6em 0.6em;
    }
    .btn {
        padding: 0.5em;
    }
    .btn-group {
        width: 100%;
    }
}
@media screen and (min-width: 500px) and (max-width: 1200px) {
    .post-details-cont {
        width: 90%;
    }
}
