.header {
    background: #000;
    color: white;
}
.header h3 > a {
  text-decoration: none;
  color: #ffffff;
}
.header,
.header > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 3em;
}
.add-post a {
  background: blue;
  color: #fff;
  padding: 0.7em;
  text-decoration: none;
}
/* .add-post a:hover */
.search-input {
  padding: 0.7em;
  border: 1px solid grey;
  width: 400px;
}

.header > nav > ul {
  list-style: none;
}
.header > nav > ul > li {
  margin: 0 2em;
  margin-top: 5px;
}
.signup-link {
    background: gold;
    padding: 0.5em;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
.login-link {
    background: blue;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}
.logout {
  border: 0;
  outline: 0;
  background: red;
  color: white;
  padding: 0.5em;
  font-weight: bolder;
  cursor: pointer;
}
.initials {
  padding: 0.6em;
  border-radius: 50%;
  background: gold;
  color: #000;
  font-weight: bolder;
  text-transform: uppercase;
}
